all_albums {
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1 {
    color: darkkhaki;
    text-align: center;
    font-family: Verdana, sans-serif, fantasy
}
h2 {
    color: cornsilk;
    font-family: Roboto Slab, serif;
}
h3 {
    color: cornsilk;
    font-family: Roboto Slab, serif;
}
h4 {
    color: cornsilk;
    font-family: VRoboto Slab, serif;
}
body{
     background-color: darkslategray;
}





