{% extends "base.html" %}
<!-- 
{% block content %}
<h1>Delete Album</h1>

<!-- {% block content %} -->
<!-- <div class = 'albums'>
    {% for album in albums %}
    <div class = 'album'>
        <p>album.artist_name</p> 
        <p>album.title</p> 
        <p>album.released</p> 
    </div>

    {% endfor %}
<!-- </div> --> --> -->

<!-- {% extends "base.html" %} -->

<!-- {% block content %}
<h1>Delete Contact</h1>

<div>
  <form action="{% url 'delete_contact' pk=contact.pk %}" method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete {{ album.name }}?</p>
    <div>
      <button type="submit">Delete Album</button><br />
      <a href="{% url 'list_album' %}">Cancel</a>
    </div>
  </form>
</div>
{% endblock %} -->




