{% extends "base.html" %}

{% block content %}

<div id='all-album'>
<h1>Gee's Albums</h1>

<p><a href="{% url 'add_albums.html' %}">Add New Album</a></p>

<div class="flex flex-wrap">
	{% for album in albums %}
	<div class="w-33 pa3">
		<h2>{{ artist.title }}</h2>

		<div class="flex">
			<div class="pr2">
         {% if artist.name %}
            </div>
    <div class="flex">
      <div class="pr2"><i class="album.released"></i></div>
      <div>{{ album.released }}</div>
    </div>
    {% endif %}
        </div>
    </div>
</div>

    {% if edit.album %}
    <div class="flex">
      <div class="pr2"><i class="edit.album"></i></div>
      <div>{{ edit.album }}</div>
    </div>
    {% endif %}

    {% if delete.album %}
    <div class="flex">
      <div class="pr2"><i class="delete.album"></i></div>
      <div>{{ delete.album }}</div>
    </div>
    {% endif %}
  </div>
  
  {% endfor %}
</div>  
{% endblock %}
